In [5]:
import pandas as pd
data=pd.read_csv("./Datasets/cleanedSchool.csv")
data

,Unnamed: 0,ids,bday,enrolldate,expgradate,Rank,Major,Gender,Athlete,Height,...,English,Reading,Math,Writing,State,LiveOnCampus,HowCommute,CommuteTime,SleepTime,StudyTime
0,0,43783,3/22/1995,1.0,1.0,0.0,0.0,Male,Non-athlete,1.837690,...,88.24,81.50,60.02,81.44,In state,on-campus,Walk,1.0,7.0,1.0
1,1,20278,1/1/1995,1.0,1.0,0.0,Philosophy,Male,Non-athlete,1.794764,...,89.45,85.25,70.19,73.27,1.0,on-campus,Walk,1.0,5.0,2.0
2,2,20389,12/31/1994,1.0,1.0,0.0,0.0,Male,Non-athlete,1.795272,...,96.73,86.88,71.20,84.24,In state,on-campus,Walk,1.0,8.0,7.0
3,3,22820,12/1/1994,1.0,1.0,0.0,business administration,Female,Non-athlete,0.025400,...,74.06,88.68,55.89,73.16,In state,on-campus,Walk,1.0,2.0,6.0
4,4,24559,11/10/1994,1.0,1.0,0.0,0.0,Female,Athlete,1.712722,...,82.61,77.30,65.52,80.45,Out of state,on-campus,Walk,1.0,7.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,430,34021,7/18/1987,1-Aug-2011,08-May-2017,4.0,accounting,Female,Non-athlete,0.025400,...,87.72,84.99,65.31,1.00,In state,off-campus,Walk,18.0,1.0,10.0
431,431,40697,4/29/1987,1-Aug-2011,09-May-2016,4.0,0.0,Male,Non-athlete,1.739900,...,91.01,86.87,70.25,82.67,In state,off-campus,Car,26.0,6.0,15.0
432,432,34272,1.0,1-Aug-2011,09-May-2016,4.0,nursing,Male,Athlete,1.729740,...,81.05,85.76,58.16,81.87,1.0,off-campus,Car,29.0,6.0,10.0
433,433,33628,1.0,1-Aug-2011,08-May-2017,4.0,Nursing,Female,Athlete,1.759458,...,75.59,85.97,66.84,79.35,In state,off-campus,Walk,14.0,4.0,10.0
434,434,39298,1.0,1-Aug-2011,08-May-2017,4.0,0.0,Female,Athlete,1.693672,...,75.65,77.24,60.24,75.23,In state,off-campus,Car,27.0,2.0,10.0

In [6]:
import scipy.stats as stats

<!-- perform the one sample test -->
stats.test_1samp(a=data['English'],popmean=60)

In [15]:
stats.ttest_1samp(a=data['English'],popmean=60)

t_statistic, p_value=stats.ttest_1samp(a=data['English'],popmean=60)

# print the results
print(f"T_Statistic:{t_statistic}")
print(f"p_Value: {p_value}")

if p_value>0.05:
    print("There is sufficient evidence to conclude that the mean English score is significantly different from 50")
else:
    print("There is insufficient evidence to conclude that the mean English score is different from 50")

T_Statistic:18.199382025128777
p_Value: 2.076987687550963e-55
There is insufficient evidence to conclude that the mean English score is different from 50