In [3]:
import pandas as pd
data=pd.read_csv("./Datasets/school.csv")
data

,ids,bday,enrolldate,expgradate,Rank,Major,Gender,Athlete,Height,Weight,...,English,Reading,Math,Writing,State,LiveOnCampus,HowCommute,CommuteTime,SleepTime,StudyTime
0,43783,3/22/1995,NaN,NaN,NaN,NaN,0.0,0,72.35,NaN,...,88.24,81.50,60.02,81.44,In state,1.0,NaN,NaN,7.0,1.0
1,20278,1/1/1995,NaN,NaN,NaN,Philosophy,0.0,0,70.66,179.20,...,89.45,85.25,70.19,73.27,NaN,1.0,NaN,NaN,5.0,2.0
2,20389,12/31/1994,NaN,NaN,NaN,NaN,0.0,0,70.68,198.52,...,96.73,86.88,71.20,84.24,In state,NaN,NaN,NaN,8.0,7.0
3,22820,12/1/1994,NaN,NaN,NaN,business administration,1.0,0,NaN,198.34,...,74.06,88.68,55.89,73.16,In state,1.0,NaN,NaN,2.0,6.0
4,24559,11/10/1994,NaN,NaN,NaN,NaN,1.0,1,67.43,128.17,...,82.61,77.30,65.52,80.45,Out of state,1.0,NaN,NaN,7.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,34021,7/18/1987,1-Aug-2011,08-May-2017,4.0,accounting,1.0,0,NaN,NaN,...,87.72,84.99,65.31,NaN,In state,0.0,1.0,18.0,1.0,10.0
431,40697,4/29/1987,1-Aug-2011,09-May-2016,4.0,NaN,0.0,0,68.50,131.92,...,91.01,86.87,70.25,82.67,In state,0.0,3.0,26.0,6.0,15.0
432,34272,NaN,1-Aug-2011,09-May-2016,4.0,nursing,0.0,1,68.10,130.07,...,81.05,85.76,58.16,81.87,NaN,0.0,3.0,29.0,6.0,10.0
433,33628,NaN,1-Aug-2011,08-May-2017,4.0,Nursing,1.0,1,69.27,157.26,...,75.59,85.97,66.84,79.35,In state,0.0,1.0,14.0,4.0,10.0
434,39298,NaN,1-Aug-2011,08-May-2017,4.0,NaN,1.0,1,66.68,152.33,...,75.65,77.24,60.24,75.23,In state,0.0,3.0,27.0,2.0,10.0

In [4]:
# Shape is a tuple. Tells you how many rows and columns the dataframe has.
data.shape

(435, 23)

In [5]:
# sewlect a column individually
data['Rank'].head(10)

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
Name: Rank, dtype: float64

data[['bday','rank','Weight','Height']]

In [6]:
data[['bday','Weight','Height']]

           bday  Weight  Height
0     3/22/1995     NaN   72.35
1      1/1/1995  179.20   70.66
2    12/31/1994  198.52   70.68
3     12/1/1994  198.34     NaN
4    11/10/1994  128.17   67.43
..          ...     ...     ...
430   7/18/1987     NaN     NaN
431   4/29/1987  131.92   68.50
432         NaN  130.07   68.10
433         NaN  157.26   69.27
434         NaN  152.33   66.68

[435 rows x 3 columns]

In [7]:
data['Rank']

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
      ...
430    4.0
431    4.0
432    4.0
433    4.0
434    4.0
Name: Rank, Length: 435, dtype: float64

In [8]:
# sorting
data.sort_values('Gender',ascending=True)

,ids,bday,enrolldate,expgradate,Rank,Major,Gender,Athlete,Height,Weight,...,English,Reading,Math,Writing,State,LiveOnCampus,HowCommute,CommuteTime,SleepTime,StudyTime
0,43783,3/22/1995,NaN,NaN,NaN,NaN,0.0,0,72.35,NaN,...,88.24,81.50,60.02,81.44,In state,1.0,NaN,NaN,7.0,1.0
225,28668,9/21/1993,5-Aug-2013,13-May-2019,2.0,undecided,0.0,1,65.13,158.49,...,77.07,86.95,68.02,79.05,In state,NaN,NaN,NaN,5.0,12.0
226,29238,9/14/1993,5-Aug-2013,14-May-2018,2.0,Urban studies,0.0,1,76.44,195.20,...,86.46,91.52,74.07,78.15,In state,0.0,3.0,33.0,8.0,13.0
228,30720,8/27/1993,5-Aug-2013,14-May-2018,2.0,pan-african studies and english,0.0,0,64.83,159.95,...,82.06,78.72,73.13,73.33,In state,0.0,3.0,21.0,13.0,12.0
230,36368,6/19/1993,5-Aug-2013,13-May-2019,2.0,NaN,0.0,1,74.96,183.16,...,68.77,85.45,64.91,70.19,Out of state,0.0,4.0,40.0,10.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,42217,4/7/1994,5-Aug-2013,14-May-2018,2.0,NaN,NaN,1,70.10,186.81,...,87.15,91.86,70.96,89.84,Out of state,1.0,NaN,NaN,7.0,4.0
223,25714,10/27/1993,5-Aug-2013,14-May-2018,2.0,NaN,NaN,0,61.49,237.06,...,82.23,86.94,62.51,75.63,In state,NaN,NaN,NaN,NaN,6.0
227,30418,8/31/1993,5-Aug-2013,13-May-2019,2.0,nursing,NaN,0,64.75,227.08,...,96.16,78.02,58.29,79.61,NaN,0.0,3.0,40.0,7.0,NaN
239,43678,3/24/1993,5-Aug-2013,14-May-2018,2.0,business admin,NaN,1,67.15,187.29,...,73.31,81.99,73.20,74.14,In state,1.0,NaN,NaN,2.0,4.0
336,49165,1/16/1992,6-Aug-2012,14-May-2018,3.0,NaN,NaN,1,66.32,185.90,...,90.18,91.35,61.72,75.24,In state,0.0,3.0,26.0,4.0,9.0

In [9]:
data.sort_values('Major',ascending=True)

,ids,bday,enrolldate,expgradate,Rank,Major,Gender,Athlete,Height,Weight,...,English,Reading,Math,Writing,State,LiveOnCampus,HowCommute,CommuteTime,SleepTime,StudyTime
253,40193,5/5/1992,5-Aug-2013,14-May-2018,2.0,spanish language education,0.0,0,80.41,321.24,...,89.53,83.73,72.98,81.03,Out of state,1.0,NaN,NaN,4.0,4.0
422,30139,9/4/1989,1-Aug-2011,08-May-2017,4.0,Accounting,0.0,1,76.18,208.45,...,86.22,79.21,68.17,72.81,In state,0.0,2.0,13.0,3.0,14.0
204,36693,6/14/1994,5-Aug-2013,13-May-2019,2.0,Accounting,1.0,0,67.65,127.16,...,80.53,87.96,64.28,81.96,In state,1.0,NaN,NaN,5.0,5.0
38,26140,10/21/1995,4-Aug-2014,11-May-2020,1.0,Aeronautics (Air Traffic Control),1.0,1,69.02,195.56,...,83.15,83.95,77.60,89.07,Out of state,0.0,3.0,33.0,NaN,5.0
100,32304,8/7/1994,4-Aug-2014,11-May-2020,1.0,Aerospace engineering,1.0,1,67.24,157.19,...,82.77,73.27,55.81,79.15,In state,1.0,NaN,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420,24362,11/13/1989,1-Aug-2011,09-May-2016,4.0,NaN,1.0,0,71.35,212.08,...,79.10,88.78,62.85,76.60,In state,0.0,3.0,22.0,6.0,8.0
424,35269,7/4/1989,1-Aug-2011,09-May-2016,4.0,NaN,0.0,1,71.45,144.14,...,87.17,82.29,67.32,84.23,In state,0.0,3.0,24.0,4.0,11.0
426,39413,5/12/1989,1-Aug-2011,08-May-2017,4.0,NaN,1.0,1,67.42,NaN,...,89.35,71.08,59.71,77.94,In state,0.0,3.0,32.0,NaN,NaN
431,40697,4/29/1987,1-Aug-2011,09-May-2016,4.0,NaN,0.0,0,68.50,131.92,...,91.01,86.87,70.25,82.67,In state,0.0,3.0,26.0,6.0,15.0
434,39298,NaN,1-Aug-2011,08-May-2017,4.0,NaN,1.0,1,66.68,152.33,...,75.65,77.24,60.24,75.23,In state,0.0,3.0,27.0,2.0,10.0

In [10]:
# basics stats quantitive analysis
data[['Weight','Height','SleepTime','StudyTime']].min()

Weight       101.71
Height        55.00
SleepTime      0.00
StudyTime      0.00
dtype: float64

In [11]:
# cleaning.
# do we have empties
# do we have unwanted columns or rows?

data.isnull().sum()

ids               0
bday              8
enrolldate       29
expgradate       29
Rank             29
Major           159
Gender            9
Athlete           0
Height           27
Weight           59
Smoking          24
Sprint           61
MileMinDur       43
English          26
Reading          10
Math             13
Writing          31
State            27
LiveOnCampus     21
HowCommute      188
CommuteTime     188
SleepTime        32
StudyTime        42
dtype: int64

In [12]:
# filL empties
data['Gender'].fillna(2.0,inplace=True)
data['Rank'].fillna(0.0,inplace=True)
data['Major'].fillna(0.0,inplace=True)
data['Smoking'].fillna(3.0,inplace=True)
data['LiveOnCampus'].fillna(1.0,inplace=True)
data['bday'].fillna(1.0,inplace=True)
data['enrolldate'].fillna(1.0,inplace=True)
data['expgradate'].fillna(1.0,inplace=True)
data['Height'].fillna(1.0,inplace=True)
data['Weight'].fillna(1.0,inplace=True)
data['Sprint'].fillna(1.0,inplace=True)
data['English'].fillna(1.0,inplace=True)
data['Reading'].fillna(1.0,inplace=True)
data['Math'].fillna(1.0,inplace=True)
data['Writing'].fillna(1.0,inplace=True)
data['State'].fillna(1.0,inplace=True)
data['HowCommute'].fillna(1.0,inplace=True)
data['CommuteTime'].fillna(1.0,inplace=True)
data['SleepTime'].fillna(1.0,inplace=True)
data['StudyTime'].fillna(1.0,inplace=True)
data['MileMinDur'].fillna(1.0,inplace=True)

In [13]:
data.isnull().sum()

ids             0
bday            0
enrolldate      0
expgradate      0
Rank            0
Major           0
Gender          0
Athlete         0
Height          0
Weight          0
Smoking         0
Sprint          0
MileMinDur      0
English         0
Reading         0
Math            0
Writing         0
State           0
LiveOnCampus    0
HowCommute      0
CommuteTime     0
SleepTime       0
StudyTime       0
dtype: int64

In [14]:
# replacing
data['Gender'].replace({
    0:'Male',
    1:'Female',
    2:'Other'
},inplace=True
)

data['LiveOnCampus'].replace(
    {
        0:'off-campus',
        1:'on-campus'
    },inplace=True
)

data['Athlete'].replace(
    {
        0:'Non-athlete',
        1:'Athlete'
    },inplace=True
)

data['Smoking'].replace(
    {
        0:'Nonsmoker',
        1:'pastsmoker',
        2:'Currentsmoker'
    },inplace=True
)

data['HowCommute'].replace(
    {
        1:'Walk',
        2:'Bike',
        3:'Car',
        4:'Public transit',
        5:'Other'
    },inplace=True
)

In [15]:
data.head(10)

,ids,bday,enrolldate,expgradate,Rank,Major,Gender,Athlete,Height,Weight,...,English,Reading,Math,Writing,State,LiveOnCampus,HowCommute,CommuteTime,SleepTime,StudyTime
0,43783,3/22/1995,1.0,1.0,0.0,0.0,Male,Non-athlete,72.35,1.00,...,88.24,81.50,60.02,81.44,In state,on-campus,Walk,1.0,7.0,1.0
1,20278,1/1/1995,1.0,1.0,0.0,Philosophy,Male,Non-athlete,70.66,179.20,...,89.45,85.25,70.19,73.27,1.0,on-campus,Walk,1.0,5.0,2.0
2,20389,12/31/1994,1.0,1.0,0.0,0.0,Male,Non-athlete,70.68,198.52,...,96.73,86.88,71.20,84.24,In state,on-campus,Walk,1.0,8.0,7.0
3,22820,12/1/1994,1.0,1.0,0.0,business administration,Female,Non-athlete,1.00,198.34,...,74.06,88.68,55.89,73.16,In state,on-campus,Walk,1.0,2.0,6.0
4,24559,11/10/1994,1.0,1.0,0.0,0.0,Female,Athlete,67.43,128.17,...,82.61,77.30,65.52,80.45,Out of state,on-campus,Walk,1.0,7.0,3.0
5,28980,9/17/1994,1.0,1.0,0.0,astrophysics,Male,Athlete,68.45,171.61,...,70.10,1.00,61.40,77.48,In state,on-campus,Walk,1.0,8.0,3.0
6,33312,7/27/1994,1.0,1.0,0.0,Anthropology,Male,Athlete,68.56,163.96,...,78.98,87.53,76.71,70.79,In state,on-campus,Walk,1.0,9.0,9.0
7,40274,5/3/1994,1.0,1.0,0.0,American History,Male,Athlete,71.91,222.87,...,1.00,67.31,58.64,65.89,In state,off-campus,Walk,1.0,8.0,3.0
8,40390,4/30/1994,1.0,1.0,0.0,Africana studies,Female,Athlete,68.84,154.70,...,75.65,76.54,51.14,75.94,In state,off-campus,Car,26.0,1.0,3.0
9,28942,9/17/1993,1.0,1.0,0.0,0.0,Female,Athlete,66.69,180.57,...,68.27,93.88,55.20,78.18,Out of state,on-campus,Walk,13.0,2.0,15.0

In [16]:
#function for converting weight from pounds to kgs(1kg=2.2pounds)
def convert(x):
    ans=x/2.20462
    return ans
data['Weight']=data['Weight'].apply(convert)
data['Weight'].head(5)

0     0.453593
1    81.283849
2    90.047264
3    89.965618
4    58.137003
Name: Weight, dtype: float64

In [17]:
# converting height from inches to meter(1inch=0.0254meter)
def converts (y):
    answer=y*0.0254
    return answer
data['Height']=data['Height'].apply (converts)
data['Height'].head(5)

0    1.837690
1    1.794764
2    1.795272
3    0.025400
4    1.712722
Name: Height, dtype: float64

In [20]:
data.to_csv('./Datasets/cleanedSchool.csv')